extends layout

block content

  h1 Reva's Library

  if error
    p Error getting dynamic content.
  else

    ul
      li #[strong Books:] !{data.book_count}
      li #[strong Copies:] !{data.book_instance_count}
      li #[strong Authors:] !{data.author_count}
      li #[strong Genres:] !{data.genre_count}


    //- div#books
    //-   h2 Books in Library
    //-     p Total: !{data.book_count}
    //-     ul
    //-     each book in book_list
    //-       li
    //-         a(href=book.url) #{book.title}
    //-         |  #{book.author.name}
    //-     else
    //-       li There are no books.


          
